@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    font-family: "league spartan", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --dark-magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    /* Neutral */
    --medium-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    ;

}

#review-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
    gap: 2rem;
}

.review-section__top {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.review-section__top header {
    width: 50%;
}

.review-section__top header h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-magenta);
    margin-bottom: 1rem;
}

.review-section__top header p {
    width: 70%;
    font-size: calc(15rem / 16);
    font-weight: 400;
    color: var(--medium-magenta);
    line-height: 1.25rem;
}

.review-section__star-ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.review-section__rating-card {
    background-color: var(--light-magenta);
    display: flex;
    align-items: center;
    gap: .75rem;
    width: 80%;
    height: 2.75rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.review-section__rating-card:nth-child(2) {
    align-self: center;
}

.review-section__rating-card:nth-child(3) {
    align-self: flex-end;
}

.review-section__rating-card p {
    color: var(--dark-magenta);
    font-weight: 500;
}

.review-section__testimonials {
    display: flex;
    gap: 1.5rem;
    min-height: 250px;
}

.review-section__testimonial-card {
    background-color: var(--dark-magenta);
    color: var(--white);
    height: fit-content;
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review-section__testimonial-card:nth-child(2) {
    align-self: center;
}

.review-section__testimonial-card:nth-child(3) {
    align-self: end;
}

.review-section__testimonial-card header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.review-section__testimonial-card header img {
    border-radius: 100%;
    width: 2.5rem;
}

.review-section__testimonial-person-name {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.review-section__testimonial-person-name h3,
.review-section__testimonial-person-name p {
    font-size: calc(15rem / 16);
}

.review-section__testimonial-card header p {
    color: var(--pink);
    font-weight: 400;
}

.review-section__testimonial-card blockquote {
    line-height: 1.25rem;
    font-weight: 400;
}